/* Image transition effects */

.llu-smooth-img-load {
    opacity: 0;
    transition: 1s ease opacity;
    will-change: opacity;
    background-size: cover;
    &.llu-img-loaded {
        opacity: 1;
    }
}

img.llu-smooth-img-load {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Safari */
    transform: translate(-50%, -50%);
}
